.container {
  display: flex;
  height: 100vh;
  margin: 0 3%;
}
.content {
 flex: 1 1 auto;
 background: white;
 overflow: auto; /* for fixed side bar*/
}
  
.sidenav {
  flex: 0 0 200px; 
  background-color:white;
}

.navbar {
  padding-top: 50%;
  list-style: none;
  line-height: 100px;
  font-size: 1.8rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.navbar a:hover {
  border: 1px solid black;
  color: black;
  background-color: aqua;
}

.l-heading {
  text-align: center;
  font-size: 3.5rem;
}