* {
  margin: 0;
}

@font-face {
  font-family: 'cloister';
  src: url('./CloisterBlack.ttf');
}

/* Header */
.l-heading {
  padding-top: 50px;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: -11px -11px 3px rgba(150, 150, 150, 0.6);
  font-family: cloister;
}

/* Content */
.content {
  flex: 1 1 auto;
  background: #DFB13F;
  overflow: auto; /* for fixed side bar*/
 }

.showcaseContent {
  background: url('/img/Explosion.gif');
   border: 10px solid #8A6328;
   padding: 150px;
   display: flex;
   margin: 150px;
 }

 .showcaseP {
   display: flex;
   padding: 20px 20px;
   margin-top: 70px;
   font-size: 1.8rem;
   text-align: center;
 }

 /* Footer */
 .footer p {
   margin: 20px;
   font-size: 1.2rem;
   border: 1px solid black;
   text-align: center;
   margin: 0;
   padding: 15px 20px;
   background: #687A64;
 }