* {
  margin: 0
}

@font-face {
  font-family: 'cloister';
  src: url('./CloisterBlack.ttf');
}


.l-heading {
  padding-top: 50px;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: -11px -11px 3px rgba(150, 150, 150, 0.6);
  font-family: cloister;
}

/* Content */
.content {
  flex: 1 1 auto;
  background: #DFB13F;
  overflow: auto; /* for fixed side bar*/
 }
   